In [7]:
import scrapbook as sb
import smtplib
from email.mime.text import MIMEText
from email.utils import COMMASPACE

In [8]:
nb = sb.read_notebook('output/Transform.ipynb')
nb.scraps['HTML_Report'].data

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>DISTRICT_NAME</th>\n      <th>COUNTY</th>\n      <th>MEDIAN_HRLY_RATE</th>\n      <th>MEDIAN_PAY</th>\n      <th>COUNT</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Beachwood City</td>\n      <td>Cuyahoga</td>\n      <td>69.070678</td>\n      <td>96863.5</td>\n      <td>104</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Orange City</td>\n      <td>Cuyahoga</td>\n      <td>66.520663</td>\n      <td>95374.0</td>\n      <td>138</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Polaris</td>\n      <td>Cuyahoga</td>\n      <td>63.895495</td>\n      <td>91236.0</td>\n      <td>47</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Upper Arlington City</td>\n      <td>Franklin</td>\n      <td>60.135081</td>\n      <td>89481.0</td>\n      <td>347</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Rocky River City</td>\n      <td>Cuyahoga</td>\n      <td>63.818885</td>\n      <td>88703.5</td>\n      <td>138</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Shaker Heights City</td>\n      <td>Cuyahoga</td>\n      <td>61.218919</td>\n      <td>88588.0</td>\n      <td>323</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>Mayfield City</td>\n      <td>Cuyahoga</td>\n      <td>63.786667</td>\n      <td>88504.0</td>\n      <td>238</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Cleveland Heights-University Heights City</td>\n      <td>Cuyahoga</td>\n      <td>60.633333</td>\n      <td>87312.0</td>\n      <td>363</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>Solon City</td>\n      <td>Cuyahoga</td>\n      <td>62.545520</td>\n      <td>87251.0</td>\n      <td>240</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>Indian Hill Exempted Village</td>\n      <td>Hamilton</td>\n      <td>66.986100</td>\n      <td>86747.0</td>\n      <td>122</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>Hilliard City</td>\n      <td>Franklin</td>\n      <td>67.142857</td>\n      <td>86480.0</td>\n      <td>809</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>North Olmsted City</td>\n      <td>Cuyahoga</td>\n      <td>60.433333</td>\n      <td>85579.0</td>\n      <td>190</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>Bay Village City</td>\n      <td>Cuyahoga</td>\n      <td>56.923128</td>\n      <td>85157.0</td>\n      <td>147</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>Cuyahoga Heights Local</td>\n      <td>Cuyahoga</td>\n      <td>60.608200</td>\n      <td>85003.0</td>\n      <td>39</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>Medina County Joint Vocational School District</td>\n      <td>Medina</td>\n      <td>64.126050</td>\n      <td>83941.0</td>\n      <td>55</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>Dublin City</td>\n      <td>Franklin</td>\n      <td>56.701351</td>\n      <td>83918.0</td>\n      <td>784</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>South Euclid-Lyndhurst City</td>\n      <td>Cuyahoga</td>\n      <td>56.625000</td>\n      <td>83805.0</td>\n      <td>186</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>Brecksville-Broadview Heights City</td>\n      <td>Cuyahoga</td>\n      <td>56.192876</td>\n      <td>83615.0</td>\n      <td>181</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>Kirtland Local</td>\n      <td>Lake</td>\n      <td>63.117761</td>\n      <td>83270.0</td>\n      <td>49</td>\n    </tr>\n    <tr>\n      <th>20</th>\n      <td>Westlake City</td>\n      <td>Cuyahoga</td>\n      <td>57.143102</td>\n      <td>83257.5</td>\n      <td>198</td>\n    </tr>\n  </tbody>\n</table>'

In [9]:
GMAIL_USER = 'some_user@gmail.com'

In [10]:
RECIPIENT_EMAIL = 'some_user@protonmail.com'
GMAIL_PWD = 'secret'

In [11]:
SUBJECT = 'Top 20 Ohio School Districts by Median Salary'
TO = RECIPIENT_EMAIL
BODY = nb.scraps['HTML_Report'].data + '\n\nBrought to you by a Python script!'

def sendEmail(sender, pwd, to, subject, message):
    recipient = to if type(to) is list else [to]
    msg = MIMEText(message)
    msg['Subject'] = subject
    msg['From'] = sender
    msg['To'] = COMMASPACE.join(recipient)
    server = smtplib.SMTP('smtp.gmail.com:587')
    server.ehlo()
    server.starttls()

    try:
        server.login(sender,pwd)
        print('Successfully authenticated...')
    except smtplib.SMTPAuthenticationError:               # Check for authentication error
        return " Authentication ERROR"

    try:
        server.sendmail(sender,recipient,msg.as_string())
        print('Email sent!')
    except smtplib.SMTPRecipientsRefused:                # Check if recipient's email was accepted by the server
        return "ERROR"
    server.quit()

In [12]:
sendEmail(GMAIL_USER, GMAIL_PWD, TO, SUBJECT, BODY)

Successfully authenticated...
Email sent!