# Series Methods More

In this chapter, we cover several more less common, but still useful and important Series methods that you need to know in order to be fully capable at analyzing data with pandas. 

* `agg` - Compute multiple aggregations at once
* `idxmax` and `idxmin` - Return the index of the max/min
* `diff` and `pct_change` - Find the difference/percent change from one value to the next
* `sample` - Randomly sample values in a Series
* `nsmallest`/`nlargest` - Retun the top/bottom `n` values in a  Series
* `replace` - Replace one or more values in a variety of ways

Let's begin by reading in the movie dataset and selecting the `imdb_score` Series.

In [ ]:
import pandas as pd
movie = pd.read_csv('../data/movie.csv', index_col='title')
score = movie['imdb_score']
score.head()

## The `agg` method

The `agg` method allows you to compute several aggregations simultaneously. Provide it a list with the Series aggregation methods as strings. For instance, the following computes the minimum and maximum of a Series and returns the result as a Series as well.

In [ ]:
score.agg(['min', 'max'])

You may provide any number of aggregation methods to the `agg` method. The `agg` method is similar to the `describe`, but allows you to calculate just the aggregations you desire.

In [ ]:
score.agg(['min', 'max', 'count', 'nunique'])

## Index of maximum and minimum

The `max` and `min` methods may be used to return the minimum and maximum values of a Series. Occasionally, we will want to know the index label for these maximum or minimum values and can do so with the `idxmax` and `idxmin` methods. Let's first find the maximum and minimum values.

In [ ]:
score.max()

In [ ]:
score.min()

To see the movies associated with these max and min values, call the `idxmin` and `idxmax` methods.

In [ ]:
score.idxmax()

In [ ]:
score.idxmin()

Let's verify these results by dropping any missing values and sorting the Series.

In [ ]:
score_sorted = score.dropna().sort_values(ascending=False)

We can now output the first and last few values to verify.

In [ ]:
score_sorted.head(3)

In [ ]:
score_sorted.tail(3)

Both `idxmax` and `idxmin` always return a single index label. If two or more values share the maximum/minimum then pandas returns the index label that appears first in the Series. Since, one value is returned, `idxmax` and `idxmin` are considered aggregation methods.

## Differencing methods  `diff` and `pct_change`

The `diff` method takes the difference between the current value and some other value. By default, the other value is the immediate preceding one. Since the first value has no previous value, its difference will be missing in the result. Let's read a small sample of Microsoft's stock dataset found in the stocks folder containing 10 trading days worth of information.

In [ ]:
msft = pd.read_csv('../data/stocks/msft_sample.csv')
msft

Let's select the `adjusted_close` column as a Series and call the `diff` method on it. The difference between the second and first values is 2.57 and is now the new second value in the returned Series.

In [ ]:
ac = msft['adjusted_close']
ac.diff()

It's possible to control which two values are subtracted. By default, the `periods` parameter is set to 1. Here, we change it to 3. The first possible difference happens between the fourth (139.68) and first (135.67) values resulting in 4.01. The first three values have no value three positions ahead of them, so they are now missing.

In [ ]:
ac.diff(periods=3)

We can take the difference between the current value and a value further ahead by using negative integers. Here, we take the current value and subtract the second value following it.

In [ ]:
ac.diff(-2)

The `pct_change` method works analogously but returns the percentage difference instead.

In [ ]:
ac.pct_change()

In [ ]:
ac.pct_change(-2)

## The `nlargest` and `nsmallest` methods

The `nlargest` and `nsmallest` methods are convenience methods to quickly return the top `n` values in the Series in order. By default, they return the top 5 values. Use the parameter `n` to choose how many values to return. Here, we select the top 4 movies by score.

In [ ]:
score.nlargest(n=4)

By default, `nlargest` and `nsmallest` return exactly `n` values even if there are ties. Let's produce a similar result by calling the `sort_values` and returning the first five values. You'll notice that two movies are tied for the fourth highest score. By default, `nlargest` returns the first one.

In [ ]:
score.sort_values(ascending=False).head()

If you'd like to keep the top `n` values and ties, set the `keep` parameter to 'all'. There is only one other movie with a value of 9.1, but if there were more, all of them would be returned here.

In [ ]:
score.nlargest(n=4, keep='all')

The `nsmallest` method works analogously and returns the smallest `n` values.

In [ ]:
score.nsmallest(n=3)

By default, the first tie is kept, but setting `keep` to 'last' return the last occurrence of the nth ranked value.

In [ ]:
score.nsmallest(n=3, keep='last')

## Randomly sample a Series

The `sample` method is great for randomly sampling the values in your Series. Set the `n` parameter of the `sample` method to an integer to return that many randomly selected values.

In [ ]:
score.sample(n=5)

By default, the sampling is done without replacement, so there is no possibility of selecting the same piece of data. If you attempt to choose a sample larger than the number of values in the Series, you'll get an error.

In [ ]:
score.sample(n=5000)

However, you can sample with replacement, meaning that you can get duplicate pieces of data by setting the `replace` parameter to `False`.

In [ ]:
score.sample(n=5000, replace=True).head()

You can also sample a fraction of the dataset by using the `frac` parameter. Here we take a random sample of 15% of the data.

In [ ]:
score_sample = score.sample(frac=.15)
score_sample.head()

Let's verify that the sample is indeed 15% of the total length of the original.

In [ ]:
len(score_sample)

In [ ]:
len(score) * .15

## The `replace` method

The `replace` method helps you replace particular values in your Series with other values. There are a lot of options with the `replace` method to handle many different kinds of replacement. This section will only discuss basic replacements. Let's select the color column from the movie dataset as a Series.

In [ ]:
color = movie['color']
color.head()

The simplest way to replace a value in the Series is to pass the `replace` method two arguments. The first is the value you'd like to replace and the second is the replacement value. Here, we replace the exact string 'Color' with 'Colour'.

In [ ]:
color.replace('Color', 'Colour').head()

The `replace` method works with columns of all data types. Here we use the `score` Series to replace the value 7.1 with 999.

In [ ]:
score.head()

In [ ]:
score.replace(7.1, 999).head()

You might think you can replace specific words within strings, and you would be correct, but the way you do so takes more effort. Let's take a look at the `genres` column as a Series.

In [ ]:
genres = movie['genres']
genres.head()

Let's say we are interested in replacing the string 'Adventure' with 'Adv' to shorten the length of each string in this column. The following won't work.

In [ ]:
genres.replace('Adventure', 'Adv').head()

By default, the replace method works by matching the entire value in the Series. The genre must be exactly 'Adventure' for it to be replaced without any other text surrounding it. It is possible to do this within-string replacement, but you'll need a lesson in regular expressions first. Setting the `regex` parameter to `True` will do the trick. The following is presented with some precaution. You should not use the `regex` parameter until you understand the fundamentals of regular expressions, which are thoroughly covered in its own part of the course.

In [ ]:
genres.replace('Adventure', 'Adv', regex=True).head()

## Exercises

Read in the employee dataset by executing the cell below and use it for the following exercises.

In [ ]:
emp = pd.read_csv('../data/employee.csv')
emp.head(3)

### Exercise 1

<span  style="color:green; font-size:16px">Find the minimum, maximum, mean, median, and standard deviation of the salary column. Return the result as a Series.</span>

### Exercise 2

<span  style="color:green; font-size:16px">Use the `idxmax` and `idxmin` methods to find the index of where the maximum and minimum salaries are located in the DataFrame. Then use the `loc` indexer to select both of those rows as a DataFrame.</span>

### Exercise 3

<span  style="color:green; font-size:16px">Repeat exercise 3, but do so on the `imdb_score` column from the movie dataset.</span>

### Exercise 4

<span  style="color:green; font-size:16px">The `idxmax` and `idxmin` methods are aggregations as they return a single value. Use the `agg` method to return the min/max `imdb_score` and the label for each score.</span>

### Exercise 5

<span  style="color:green; font-size:16px">Read in 20 years of Microsoft stock data, setting the 'timestamp' column as the index. Find the top 5 largest one-day percentage gains in the `adjusted_close`.</span>

### Exercise 6

<span  style="color:green; font-size:16px">Randomly sample the `actor1` column as a Series with replacement to select three values. Use random state 12345. Setting a random state ensures that the same random sample is chosen regardless of which machine or version of numpy is being used.</span>

### Exercise 7

<span  style="color:green; font-size:16px">Select the title column from the employee dataset as a Series. Replace the all occurrences of 'POLICE OFFICER' and 'SENIOR POLICE OFFICER' with 'POLICE'. You can use a list as the first argument passed to the `replace` method.</span>