# Data Scientist Challenge

In this challenge you are assuming the position of a data scientist for a large corporation with offices in many states. The company you work for is looking to gain insights from its purchase order data during the year 2014. You have 10,000 different purchase orders from different states. The state, date, and revenue are recorded from each purchase order.

The company is primarily interested in determining what is happening to revenue over time and what strategy should be undertaken to maximize revenue.

You don't need any advanced statistics for this assignment. Good exploratory data analysis and visualizations will reveal everything you need to know about what is happening. Check out pandas time-series module documentation here - http://pandas.pydata.org/pandas-docs/stable/timeseries.html

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
orders = pd.read_csv('../../data/orders.csv', parse_dates=['order_date'])
orders.head()

      state order_date  revenue
0  Arkansas 2014-12-24   1311.0
1   Florida 2014-10-15    698.0
2      Iowa 2014-09-07   1193.0
3   Indiana 2014-05-19    469.0
4     Maine 2014-04-19    334.0