In [23]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

In [30]:
df = pd.read_csv('/home/pybokeh/Downloads/BHH2-Data/tab0301.dat', delim_whitespace=True, 
                 usecols=['method','yield'])

In [31]:
df

   method  yield
0       A  89.70
1       A  81.40
2       A  84.50
3       A  84.80
4       A  87.30
5       A  79.70
6       A  85.10
7       A  81.70
8       A  83.70
9       A  84.50
10      B  84.70
11      B  86.10
12      B  83.20
13      B  91.90
14      B  86.30
15      B  79.30
16      B  82.60
17      B  89.10
18      B  83.70
19      B  88.50

In [32]:
df.groupby(['method']).mean()

        yield
method
A       84.24
B       85.54

In [40]:
mean_a = df.query("method=='A'").mean().values[0].round(2)
mean_b = df.query("method=='B'").mean().values[0].round(2)

In [41]:
mean_b - mean_a

1.3000000000000114