In [1]:
import pandas as pd
import numpy as np

In [5]:
import time

In [6]:
store = pd.HDFStore('store.h5')
print(store)

<class 'pandas.io.pytables.HDFStore'>
File path: store.h5

In [12]:
np.random.seed(1234)
index = pd.date_range('1/1/2000', periods=8)
s = pd.Series(np.random.rand(5), index=['a', 'b', 'c', 'd', 'e'])
df = pd.DataFrame(np.random.rand(8, 3), index=index,
                  columns=['A', 'B', 'C'])
wp = pd.Panel(np.random.rand(2, 5, 4), items=['Item1', 'Item2'],
              major_axis=pd.date_range('1/1/2000', periods=5),
              minor_axis=['A', 'B', 'C', 'D'])
store['s'] = s
store['df'] = df
store['wp'] = wp
store.close()

/Users/harperic/miniconda3/envs/ml/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [18]:
# pd.read_hdf('store.h5', 'df', where=['index>2'])
# store = pd.HDFStore('store.h5')
# print(store['df'])

with pd.HDFStore('store.h5') as store:
    data = store['df']
data.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,4.999964e+06,4.999964e+06,4.999964e+06,4.999964e+06,4.999964e+06,4.999964e+06
mean,1.134074e+01,-7.250681e+01,3.991976e+01,-7.250652e+01,3.991725e+01,1.684707e+00
std,9.820066e+00,1.280962e+01,8.963488e+00,1.284777e+01,9.486767e+00,1.331851e+00
min,-1.000000e+02,-3.426609e+03,-3.488080e+03,-3.412653e+03,-3.488080e+03,0.000000e+00
25%,6.000000e+00,-7.399206e+01,4.073491e+01,-7.399139e+01,4.073404e+01,1.000000e+00
50%,8.500000e+00,-7.398181e+01,4.075263e+01,-7.398016e+01,4.075315e+01,1.000000e+00
75%,1.250000e+01,-7.396711e+01,4.076712e+01,-7.396367e+01,4.076811e+01,2.000000e+00
max,1.273310e+03,3.439426e+03,3.310364e+03,3.457622e+03,3.345917e+03,2.080000e+02

In [17]:
store.close()