### From a pandas dataframe, creating a dictionary of unique IDs mapped to their corresponding values

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/pybokeh/temp/temp.csv')

In [3]:
df

     id   value
0  1466   24866
1  1466   20375
2  1466  813973
3  1466   16302
4  1046     712
5  1046     783
6  1046     781
7  1046    1953
8  1046    2120

In [4]:
id_list = df.id.unique()
id_list

array([1466, 1046])

In [5]:
my_dict = {}
for id in id_list:
    my_dict[id] = df.query("id == @id")['value'].values

In [6]:
my_dict

{1466: array([ 24866,  20375, 813973,  16302]),
 1046: array([ 712,  783,  781, 1953, 2120])}

### For large dataframe, utilize df.iterrows():

In [12]:
d = {}
for row, (id, value) in df.iterrows():
    d.setdefault(id, []).append(value)

In [13]:
d

{1466: [24866, 20375, 813973, 16302], 1046: [712, 783, 781, 1953, 2120]}

In [11]:
next(df.iterrows())

(0, id        1466
 value    24866
 Name: 0, dtype: int64)

In [16]:
for row, (id, value) in df.iterrows():
    print(row, id, value)

0 1466 24866
1 1466 20375
2 1466 813973
3 1466 16302
4 1046 712
5 1046 783
6 1046 781
7 1046 1953
8 1046 2120

In [18]:
next(df.iteritems())

('id', 0    1466
 1    1466
 2    1466
 3    1466
 4    1046
 5    1046
 6    1046
 7    1046
 8    1046
 Name: id, dtype: int64)

In [25]:
for column, value in df.iteritems():
    print(column, value.values)

id [1466 1466 1466 1466 1046 1046 1046 1046 1046]
value [ 24866  20375 813973  16302    712    783    781   1953   2120]