### Expanding a DataFrame Column Example

**PROBLEM:** DataFrame column contains one or more values.  How to expand the dataframe such that the values are in their own row?

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([{'test': [1,2]}, {'test': [3]}, {'test': [4,5,6]}])

In [3]:
df

        test
0     [1, 2]
1        [3]
2  [4, 5, 6]

In [4]:
df.reset_index(level=[0], inplace=True)

In [5]:
df

   index       test
0      0     [1, 2]
1      1        [3]
2      2  [4, 5, 6]

In [6]:
my_dict = {}
for row in df.values:
    my_dict[row[0]] = row[1]

In [7]:
my_dict

{0: [1, 2], 1: [3], 2: [4, 5, 6]}

In [8]:
my_dict.keys()

dict_keys([0, 1, 2])

In [9]:
my_dict.values()

dict_values([[1, 2], [3], [4, 5, 6]])

In [10]:
for key, item in my_dict.items():
    for value in item:
        print(key, value)

0 1
0 2
1 3
2 4
2 5
2 6

In [11]:
keys = []
values = []
for key, item in my_dict.items():
    for value in item:
        keys.append(key)
        values.append(value)

In [12]:
keys

[0, 0, 1, 2, 2, 2]

In [13]:
values

[1, 2, 3, 4, 5, 6]

In [14]:
new_df = pd.DataFrame({'index': keys, 'test': values})

### Original df

In [15]:
df

   index       test
0      0     [1, 2]
1      1        [3]
2      2  [4, 5, 6]

### New df

In [16]:
new_df

   index  test
0      0     1
1      0     2
2      1     3
3      2     4
4      2     5
5      2     6