#### This is an IPython notebook that demonstrates how to get information on items in a person's Team Fortress 2 backpack with a link/URL that he/she provided you normally via email.  We will be using the BeautifulSoup package that will help us parse the HTML page and grab the data we want that is embedded in the HTML markup code.  This is a trivial example and the main reason I chose to do this is because my son was manually adding up all the prices in the *Price column and wanted to show him how this could be automated using programming.  I also showed him that he could just copy and paste the table into a spreadsheet and get the total as well.  Furthermore, this would be a simple enough example to demonstrate how to use the BeautifulSoup package to extract data from the HTML markup code.  This is what the web hipsters call "web scraping".<br><br> This IPython notebook example assumes that we will be using this URL: <a href="http://www.tf2wh.com/backpack?bp=J4YdIfPh-kGWIgIYA39izmnTWlRcXrpGUOHejlqu2E4">http://www.tf2wh.com/backpack?bp=J4YdIfPh-kGWIgIYA39izmnTWlRcXrpGUOHejlqu2E4</a><br> This is an actual, working URL belonging to my son's TF2 backpack inventory.<br><br> NOTE-because his inventory updates periodically, the outputs in this IPython notebook may not match what's in the TF2 warehouse inventory site's table.

In [90]:
from bs4 import BeautifulSoup
import urllib.request as request

#### Here, we are going to open the url with the urlopen function. We could of prompt the user to copy and then paste the TF2 backpack inventory URL into an input textbox, but unfortunately, Wakari doesn't support input from standard input.  So we'll just use the hard-coded URL of that HTML page.

In [91]:
html = request.urlopen('http://www.tf2wh.com/backpack?bp=J4YdIfPh-kGWIgIYA39izmnTWlRcXrpGUOHejlqu2E4')

# Wakari doesn't support input from stdin
#html = request.urlopen(input("Paste the TF2 WH Inventory URL here: "))
soup = BeautifulSoup(html)

#### Then, we need to look at the source code of that HTML page.  We can open the page using the browser, but I will open a new tab with it.  This is the most important part, we need to be very familiar with this HTML page's source code.

In [92]:
import webbrowser
webbrowser.open_new_tab('http://www.tf2wh.com/backpack?bp=J4YdIfPh-kGWIgIYA39izmnTWlRcXrpGUOHejlqu2E4')

True

#### After examining that HTML page's source code, we can see that the information we need is contained within the table body tag "&lt;tbody&gt;".  Now let's see what it looks like:

In [93]:
table_body = soup.tbody
table_body

<tbody>
<tr class="overstocked"><th><font color="#4D7455">Genuine Companion Cube Pin</font></th><td>2,925c</td><td>1</td><td>15</td><td></td><td>15
</td></tr><tr class="overstocked"><th><font color="#7D6D00">A Rather Festive Tree</font></th><td>4,455c</td><td>1</td><td>100</td><td></td><td>100
</td></tr><tr class="overstocked"><th><font color="#7D6D00">Fall 2013 Acorns Crate</font></th><td>310c</td><td>2</td><td>10</td><td></td><td>10
</td></tr><tr class="overstocked"><th><font color="#7D6D00">Fall 2013 Gourd Crate</font></th><td>310c</td><td>4</td><td>10</td><td></td><td>10
</td></tr><tr class="overstocked"><th><font color="#7D6D00">Point and Shoot</font></th><td>6,185c</td><td>1</td><td>25</td><td></td><td>25
</td></tr><tr class="overstocked"><th><font color="#7D6D00">Strange Part: Gib Kills</font></th><td>5,460c</td><td>1</td><td>5</td><td></td><td>5
</td></tr><tr class="overstocked"><th><font color="#CF6A32">Strange Enforcer</font></th><td>1,600c</td><td>1</td><td>16</td><td>+2</td><td>15
</td></tr><tr class="overstocked"><th><font color="#CF6A32">Strange Fists of Steel</font></th><td>375c</td><td>1</td><td>16</td><td></td><td>15
</td></tr><tr class="normal"><th><font color="#CF6A32">Strange Killing Gloves of Boxing</font></th><td>1,780c</td><td>1</td><td>19</td><td></td><td>20
</td></tr><tr class="overstocked"><th><font color="#CF6A32">Strange Medi Gun</font></th><td>2,700c</td><td>1</td><td>40</td><td></td><td>40
</td></tr><tr class="normal"><th><font color="#CF6A32">Strange Neon Annihilator</font></th><td>370c</td><td>1</td><td>24</td><td>+3</td><td>25
</td></tr><tr class="normal"><th><font color="#CF6A32">Strange Rust Botkiller Scattergun Mk.I</font></th><td>7,735c</td><td>1</td><td>1</td><td></td><td>5
</td></tr><tr class="overstocked"><th><font color="#8650AD">Haunted B-ankh!</font></th><td>3,420c</td><td>1</td><td>3</td><td></td><td>3
</td></tr></tbody>

#### We have the table body parsed, but we really need the table rows parsed, since that is where the table row data is located at.

In [95]:
# Within table_body tag, find all table row "tr" tags
table_rows = table_body.find_all('tr')
table_rows

[<tr class="overstocked"><th><font color="#4D7455">Genuine Companion Cube Pin</font></th><td>2,925c</td><td>1</td><td>15</td><td></td><td>15
</td></tr>,
 <tr class="overstocked"><th><font color="#7D6D00">A Rather Festive Tree</font></th><td>4,455c</td><td>1</td><td>100</td><td></td><td>100
</td></tr>,
 <tr class="overstocked"><th><font color="#7D6D00">Fall 2013 Acorns Crate</font></th><td>310c</td><td>2</td><td>10</td><td></td><td>10
</td></tr>,
 <tr class="overstocked"><th><font color="#7D6D00">Fall 2013 Gourd Crate</font></th><td>310c</td><td>4</td><td>10</td><td></td><td>10
</td></tr>,
 <tr class="overstocked"><th><font color="#7D6D00">Point and Shoot</font></th><td>6,185c</td><td>1</td><td>25</td><td></td><td>25
</td></tr>,
 <tr class="overstocked"><th><font color="#7D6D00">Strange Part: Gib Kills</font></th><td>5,460c</td><td>1</td><td>5</td><td></td><td>5
</td></tr>,
 <tr class="overstocked"><th><font color="#CF6A32">Strange Enforcer</font></th><td>1,600c</td><td>1</td><td>16</td><td>+2</td><td>15
</td></tr>,
 <tr class="overstocked"><th><font color="#CF6A32">Strange Fists of Steel</font></th><td>375c</td><td>1</td><td>16</td><td></td><td>15
</td></tr>,
 <tr class="normal"><th><font color="#CF6A32">Strange Killing Gloves of Boxing</font></th><td>1,780c</td><td>1</td><td>19</td><td></td><td>20
</td></tr>,
 <tr class="overstocked"><th><font color="#CF6A32">Strange Medi Gun</font></th><td>2,700c</td><td>1</td><td>40</td><td></td><td>40
</td></tr>,
 <tr class="normal"><th><font color="#CF6A32">Strange Neon Annihilator</font></th><td>370c</td><td>1</td><td>24</td><td>+3</td><td>25
</td></tr>,
 <tr class="normal"><th><font color="#CF6A32">Strange Rust Botkiller Scattergun Mk.I</font></th><td>7,735c</td><td>1</td><td>1</td><td></td><td>5
</td></tr>,
 <tr class="overstocked"><th><font color="#8650AD">Haunted B-ankh!</font></th><td>3,420c</td><td>1</td><td>3</td><td></td><td>3
</td></tr>]

#### Now that we have the table rows stored in the table_rows variable, we can then extract the individual information we want from it.

#### For example, let's extract each item's inventory status:

In [96]:
table_rows = table_body.find_all('tr')

for row in table_rows:
    print(row['class'])

['overstocked']
['overstocked']
['overstocked']
['overstocked']
['overstocked']
['overstocked']
['overstocked']
['overstocked']
['normal']
['overstocked']
['normal']
['normal']
['overstocked']

#### Extracting each item's name:

In [97]:
for row in table_rows:
    print(row.font.get_text())

Genuine Companion Cube Pin
A Rather Festive Tree
Fall 2013 Acorns Crate
Fall 2013 Gourd Crate
Point and Shoot
Strange Part: Gib Kills
Strange Enforcer
Strange Fists of Steel
Strange Killing Gloves of Boxing
Strange Medi Gun
Strange Neon Annihilator
Strange Rust Botkiller Scattergun Mk.I
Haunted B-ankh!

#### Next, we can extract each item's price...but wait a minute.  The price is in the "&lt;td&gt;" tag, but there are other &lt;"td&gt;" tags too.  How do we tell or how does BeautifulSoup knows which "&lt;td&gt;" tag to pull the data from?<br><br> But let's just try this and see what happens:

In [98]:
for row in table_rows:
    print(row.td.get_text())

2,925c
4,455c
310c
310c
6,185c
5,460c
1,600c
375c
1,780c
2,700c
370c
7,735c
3,420c

#### OK so looks like it grabbed the data in the "Price" column, but how do we get the data in the "You" column and other columns as well?

#### I tried this, thinking maybe to get the other columns, I just need to reference the proper index??

In [52]:
for row in table_rows:
    print(row.td[1].get_text())

KeyError: 1

#### As you can see, that didn't work, I got an error.  Then I tried this thinking maybe to get the 2nd "td" tag values, I need to call "td" twice maybe??

In [53]:
for row in table_rows:
    print(row.td.td.get_text())

AttributeError: 'NoneType' object has no attribute 'get_text'

#### Again, this also doesn't work.  So what should we do?  Looks like the td.get_text() just get the first td tag's data and doesn't get the other td tags' data.<br> Well it turns out if you look above, previously we did: soup.find_all('tr').  But to get all the data in the "&lt;td&gt;" tags, we should do: soup.find_all('td')

In [99]:
td = soup.find_all('td')

In [100]:
td

[<td>2,925c</td>,
 <td>1</td>,
 <td>15</td>,
 <td></td>,
 <td>15
</td>,
 <td>4,455c</td>,
 <td>1</td>,
 <td>100</td>,
 <td></td>,
 <td>100
</td>,
 <td>310c</td>,
 <td>2</td>,
 <td>10</td>,
 <td></td>,
 <td>10
</td>,
 <td>310c</td>,
 <td>4</td>,
 <td>10</td>,
 <td></td>,
 <td>10
</td>,
 <td>6,185c</td>,
 <td>1</td>,
 <td>25</td>,
 <td></td>,
 <td>25
</td>,
 <td>5,460c</td>,
 <td>1</td>,
 <td>5</td>,
 <td></td>,
 <td>5
</td>,
 <td>1,600c</td>,
 <td>1</td>,
 <td>16</td>,
 <td>+2</td>,
 <td>15
</td>,
 <td>375c</td>,
 <td>1</td>,
 <td>16</td>,
 <td></td>,
 <td>15
</td>,
 <td>1,780c</td>,
 <td>1</td>,
 <td>19</td>,
 <td></td>,
 <td>20
</td>,
 <td>2,700c</td>,
 <td>1</td>,
 <td>40</td>,
 <td></td>,
 <td>40
</td>,
 <td>370c</td>,
 <td>1</td>,
 <td>24</td>,
 <td>+3</td>,
 <td>25
</td>,
 <td>7,735c</td>,
 <td>1</td>,
 <td>1</td>,
 <td></td>,
 <td>5
</td>,
 <td>3,420c</td>,
 <td>1</td>,
 <td>3</td>,
 <td></td>,
 <td>3
</td>]

#### Ah ha!  This did it!<br> But I don't want all that HTML markup junk, I just want the values.  Furthermore, I should probably remove the "c" and "," in the prices just in case I want to do some numerical calculations on them.  I also notice there is a column with no values in it.  I will make them zeros instead.  To get just the text or the data embeded in that markup code above, we will loop through all the td tags and use the get_text() method and then also we'll use the replace() method to replace the "c" and the "," with a empty space (''):

In [101]:
for data in td:
    value = data.get_text().replace('c','').replace(',','')
    if value == '':
        print("0")
    else:
        print(value)

2925
1
15
0
15

4455
1
100
0
100

310
2
10
0
10

310
4
10
0
10

6185
1
25
0
25

5460
1
5
0
5

1600
1
16
+2
15

375
1
16
0
15

1780
1
19
0
20

2700
1
40
0
40

370
1
24
+3
25

7735
1
1
0
5

3420
1
3
0
3

#### Hmmm, why is there a blank line between the sets of 5 data rows?  Looks like maybe a newline character is at the end of each table row's data.  So we'll remove that as well.  So we'll loop again and make sure we remove any newline characters.

In [102]:
for data in td:
    value = data.get_text().replace('c','').replace(',','').replace('\n','')
    if value == '':
        print("0")
    else:
        print(value)

2925
1
15
0
15
4455
1
100
0
100
310
2
10
0
10
310
4
10
0
10
6185
1
25
0
25
5460
1
5
0
5
1600
1
16
+2
15
375
1
16
0
15
1780
1
19
0
20
2700
1
40
0
40
370
1
24
+3
25
7735
1
1
0
5
3420
1
3
0
3

#### Looking good so far.<br> So that we can grab certain values somehow in an orderly fashion, let's dump the values in a list so we can take advantage of Python's list functions or list indexing.

In [103]:
mylist = []
for data in td:
    value = data.get_text().replace('c','').replace(',','').replace('\n','')
    if value == '':
        mylist.append(0)
    else:
        mylist.append(int(value))

mylist

[2925,
 1,
 15,
 0,
 15,
 4455,
 1,
 100,
 0,
 100,
 310,
 2,
 10,
 0,
 10,
 310,
 4,
 10,
 0,
 10,
 6185,
 1,
 25,
 0,
 25,
 5460,
 1,
 5,
 0,
 5,
 1600,
 1,
 16,
 2,
 15,
 375,
 1,
 16,
 0,
 15,
 1780,
 1,
 19,
 0,
 20,
 2700,
 1,
 40,
 0,
 40,
 370,
 1,
 24,
 3,
 25,
 7735,
 1,
 1,
 0,
 5,
 3420,
 1,
 3,
 0,
 3]

#### Now we can use Python's list indexing/slicing to grab the price values, which are the first value and every 5th value after that:

In [104]:
prices = mylist[0::5]
prices

[2925, 4455, 310, 310, 6185, 5460, 1600, 375, 1780, 2700, 370, 7735, 3420]

#### Using similar logic, we can get the "You" column and other columns as well.

In [105]:
you = mylist[1::5]
you

[1, 1, 2, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [106]:
wh = mylist[2::5]
wh

[15, 100, 10, 10, 25, 5, 16, 16, 19, 40, 24, 1, 3]

In [107]:
wh_diff = mylist[3::5]
wh_diff

[0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 3, 0, 0]

In [108]:
limit = mylist[4::5]
limit

[15, 100, 10, 10, 25, 5, 15, 15, 20, 40, 25, 5, 3]

#### Let's import the numpy package so we can take advantage of its numerical functions.

In [110]:
import numpy as np
tf_prices = np.array(prices)
print("The sum of all the items' prices is: ", tf_prices.sum())
print("The average of all the items' prices is: ", tf_prices.mean())

The sum of all the items' prices is:  37625
The average of all the items' prices is:  2894.23076923

#### Now, let's re-create the inventory table in that HTML page using a Python 3rd party package called Pandas.

#### But, before we do, we need to store the item's status in a list and the item's name in a list.  I will just copy code we used above to get them and slightly modify it to dump them into a list

In [111]:
table_rows = table_body.find_all('tr')

status = []
for row in table_rows:
    status.append(row['class'][0])

status

['overstocked',
 'overstocked',
 'overstocked',
 'overstocked',
 'overstocked',
 'overstocked',
 'overstocked',
 'overstocked',
 'normal',
 'overstocked',
 'normal',
 'normal',
 'overstocked']

In [112]:
item_names = []
for row in table_rows:
    item_names.append(row.font.get_text())
    
item_names

['Genuine Companion Cube Pin',
 'A Rather Festive Tree',
 'Fall 2013 Acorns Crate',
 'Fall 2013 Gourd Crate',
 'Point and Shoot',
 'Strange Part: Gib Kills',
 'Strange Enforcer',
 'Strange Fists of Steel',
 'Strange Killing Gloves of Boxing',
 'Strange Medi Gun',
 'Strange Neon Annihilator',
 'Strange Rust Botkiller Scattergun Mk.I',
 'Haunted B-ankh!']

In [113]:
import pandas as pd

df = pd.DataFrame(data={"Status":status, "*Price":prices, "You":you, "WH":wh, "WH_Diff":wh_diff, "Limit":limit}, index=item_names)

df = df[["*Price", "You", "WH", "Limit", "Status"]]
df

                                        *Price  You   WH  Limit       Status
Genuine Companion Cube Pin                2925    1   15     15  overstocked
A Rather Festive Tree                     4455    1  100    100  overstocked
Fall 2013 Acorns Crate                     310    2   10     10  overstocked
Fall 2013 Gourd Crate                      310    4   10     10  overstocked
Point and Shoot                           6185    1   25     25  overstocked
Strange Part: Gib Kills                   5460    1    5      5  overstocked
Strange Enforcer                          1600    1   16     15  overstocked
Strange Fists of Steel                     375    1   16     15  overstocked
Strange Killing Gloves of Boxing          1780    1   19     20       normal
Strange Medi Gun                          2700    1   40     40  overstocked
Strange Neon Annihilator                   370    1   24     25       normal
Strange Rust Botkiller Scattergun Mk.I    7735    1    1      5       normal
Haunted B-ankh!                           3420    1    3      3  overstocked

In [114]:
print("The sum of all the items' prices is: ", df['*Price'].sum())

The sum of all the items' prices is:  37625

#### I know this seems like a lot of work just to get this data, but it only appears so because I have broken this process down into multiple parts.  See my "streamline" IPython notebook <a href='https://www.wakari.io/sharing/bundle/pybokeh/TF2_Streamlined'>version</a> which does all of this in 2 steps.

#### It turns out starting with version 0.12, Pandas has a DataFrame.read_html() method which will allow us to read in a HTML table.  So below, I'll demonstrate how to use it.

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.12.0'

In [3]:
df_html = pd.read_html('http://www.tf2wh.com/backpack?bp=J4YdIfPh-kGWIgIYA39izmnTWlRcXrpGUOHejlqu2E4', index_col=0)

In [118]:
df_html

[                                        *Price  Counts\n\t  You  WH  Limit\n
Name
Genuine Companion Cube Pin              2,925c           1   15 NaN       15
A Rather Festive Tree                   4,455c           1  100 NaN      100
Fall 2013 Acorns Crate                    310c           2   10 NaN       10
Fall 2013 Gourd Crate                     310c           4   10 NaN       10
Point and Shoot                         6,185c           1   25 NaN       25
Strange Part: Gib Kills                 5,460c           1    4 NaN        5
Strange Enforcer                        1,600c           1   17   1       15
Strange Fists of Steel                    375c           1   16 NaN       15
Strange Killing Gloves of Boxing        1,780c           1   19 NaN       20
Strange Medi Gun                        2,700c           1   40 NaN       40
Strange Neon Annihilator                  370c           1   26   3       25
Strange Rust Botkiller Scattergun Mk.I  7,735c           1    1 NaN        5
Haunted B-ankh!                         3,420c           1    3 NaN        3]

#### Hmmm, looks like "df_html" is a list, I thought it would be a Pandas DataFrame.  But let's check...

In [120]:
type(df_html)

builtins.list

#### So it is a list, but I want it to be a DataFrame.  Since it is a list that apparently holds one item, let's grab the content of the list and see what data type it is:

In [121]:
type(df_html[0])

pandas.core.frame.DataFrame

#### So the content in the list is a DataFrame.

#### We can also use the built-in help() function to get more info on the read_html() method:

In [4]:
help(pd.read_html)

Help on function read_html in module pandas.io.html:

read_html(io, match='.+', flavor=None, header=None, index_col=None, skiprows=None, infer_types=True, attrs=None)
    Read an HTML table into a DataFrame.

    Parameters
    ----------
    io : str or file-like
        A string or file like object that can be either a url, a file-like
        object, or a raw string containing HTML.  Note that lxml only accepts
        the http, ftp and file url protocols. If you have a URI that starts
        with ``'https'`` you might removing the ``'s'``.

    match : str or regex, optional, default '.+'
        The set of tables containing text matching this regex or string will be
        returned. Unless the HTML is extremely simple you will probably need to
        pass a non-empty string here. Defaults to '.+' (match any non-empty
        string). The default value will return all tables contained on a page.
        This value is converted to a regular expression so that there is
        consistent behavior between Beautiful Soup and lxml.

    flavor : str, container of strings, default ``None``
        The parsing engine to use under the hood. 'bs4' and 'html5lib' are
        synonymous with each other, they are both there for backwards
        compatibility. The default of ``None`` tries to use ``lxml`` to parse
        and if that fails it falls back on ``bs4`` + ``html5lib``.

    header : int or array-like or None, optional, default ``None``
        The row (or rows for a MultiIndex) to use to make the columns headers.
        Note that this row will be removed from the data.

    index_col : int or array-like or None, optional, default ``None``
        The column to use to make the index. Note that this column will be
        removed from the data.

    skiprows : int or collections.Container or slice or None, optional, default ``None``
        If an integer is given then skip this many rows after parsing the
        column header. If a sequence of integers is given skip those specific
        rows (0-based). Note that

        .. code-block:: python

           skiprows == 0

        yields the same result as

        .. code-block:: python

           skiprows is None

        If `skiprows` is a positive integer, say :math:`n`, then
        it is treated as "skip :math:`n` rows", *not* as "skip the
        :math:`n^\textrm{th}` row".

    infer_types : bool, optional, default ``True``
        Whether to convert numeric types and date-appearing strings to numbers
        and dates, respectively.

    attrs : dict or None, optional, default ``None``
        This is a dictionary of attributes that you can pass to use to identify
        the table in the HTML. These are not checked for validity before being
        passed to lxml or Beautiful Soup. However, these attributes must be
        valid HTML table attributes to work correctly. For example,

        .. code-block:: python

           attrs = {'id': 'table'}

        is a valid attribute dictionary because the 'id' HTML tag attribute is
        a valid HTML attribute for *any* HTML tag as per `this document
        <http://www.w3.org/TR/html-markup/global-attributes.html>`__.

        .. code-block:: python

           attrs = {'asdf': 'table'}

        is *not* a valid attribute dictionary because 'asdf' is not a valid
        HTML attribute even if it is a valid XML attribute.  Valid HTML 4.01
        table attributes can be found `here
        <http://www.w3.org/TR/REC-html40/struct/tables.html#h-11.2>`__. A
        working draft of the HTML 5 spec can be found `here
        <http://www.w3.org/TR/html-markup/table.html>`__. It contains the
        latest information on table attributes for the modern web.

    Returns
    -------
    dfs : list of DataFrames
        A list of DataFrames, each of which is the parsed data from each of the
        tables on the page.

    Notes
    -----
    Before using this function you should probably read the :ref:`gotchas about
    the parser libraries that this function uses <html-gotchas>`.

    There's as little cleaning of the data as possible due to the heterogeneity
    and general disorder of HTML on the web.

    Expect some cleanup after you call this function. For example,
    you might need to pass `infer_types=False` and perform manual conversion if
    the column names are converted to NaN when you pass the `header=0`
    argument. We try to assume as little as possible about the structure of the
    table and push the idiosyncrasies of the HTML contained in the table to
    you, the user.

    This function only searches for <table> elements and only for <tr> and <th>
    rows and <td> elements within those rows. This could be extended by
    subclassing one of the parser classes contained in :mod:`pandas.io.html`.

    Similar to :func:`read_csv` the `header` argument is applied **after**
    `skiprows` is applied.

    This function will *always* return a list of :class:`DataFrame` *or*
    it will fail, e.g., it will *not* return an empty list.

    Examples
    --------
    See the :ref:`read_html documentation in the IO section of the docs
    <io.read_html>` for many examples of reading HTML.

#### From the help documentation near the beginning, it says "Read an HTML table into a DataFrame".  But not until you scroll down further do you see where it actually says it returns a list of DataFrames.  Oh well, now we know!

#### So now, we'll re-create df_html as an actual DataFrame:

In [122]:
df_html = df_html[0]

#### Still, let's make sure it looks ok:

In [123]:
df_html

                                        *Price  Counts\n\t  You  WH  Limit\n
Name
Genuine Companion Cube Pin              2,925c           1   15 NaN       15
A Rather Festive Tree                   4,455c           1  100 NaN      100
Fall 2013 Acorns Crate                    310c           2   10 NaN       10
Fall 2013 Gourd Crate                     310c           4   10 NaN       10
Point and Shoot                         6,185c           1   25 NaN       25
Strange Part: Gib Kills                 5,460c           1    4 NaN        5
Strange Enforcer                        1,600c           1   17   1       15
Strange Fists of Steel                    375c           1   16 NaN       15
Strange Killing Gloves of Boxing        1,780c           1   19 NaN       20
Strange Medi Gun                        2,700c           1   40 NaN       40
Strange Neon Annihilator                  370c           1   26   3       25
Strange Rust Botkiller Scattergun Mk.I  7,735c           1    1 NaN        5
Haunted B-ankh!                         3,420c           1    3 NaN        3

#### Looking at the table above again, the columns are not quite right.  There's a "Counts" column which should really be the "You" column, the "You" column should really be the "WH" column, etc.  Also, what is up with the "\n" and "\t" characters?.  Are those column names really spelled that way?  Let's see:

In [124]:
df_html.dtypes

*Price         object
Counts\n\t      int64
You             int64
WH            float64
Limit\n         int64
dtype: object

#### It appears so.  Let's rename the columns to their correct names:

In [125]:
table_html = df_html.rename(columns={'Counts\n\t':'You', 'You':'WH', 'WH':'WH_Diff', 'Limit\n':'Limit', '*Price':'Price'})
table_html

                                         Price  You   WH  WH_Diff  Limit
Name
Genuine Companion Cube Pin              2,925c    1   15      NaN     15
A Rather Festive Tree                   4,455c    1  100      NaN    100
Fall 2013 Acorns Crate                    310c    2   10      NaN     10
Fall 2013 Gourd Crate                     310c    4   10      NaN     10
Point and Shoot                         6,185c    1   25      NaN     25
Strange Part: Gib Kills                 5,460c    1    4      NaN      5
Strange Enforcer                        1,600c    1   17        1     15
Strange Fists of Steel                    375c    1   16      NaN     15
Strange Killing Gloves of Boxing        1,780c    1   19      NaN     20
Strange Medi Gun                        2,700c    1   40      NaN     40
Strange Neon Annihilator                  370c    1   26        3     25
Strange Rust Botkiller Scattergun Mk.I  7,735c    1    1      NaN      5
Haunted B-ankh!                         3,420c    1    3      NaN      3

#### Looks good so far.  But, let's re-write the "NaN" ("Not a Number") to zeros:

In [126]:
table_html.fillna(value=0, inplace=True)
table_html

                                         Price  You   WH  WH_Diff  Limit
Name
Genuine Companion Cube Pin              2,925c    1   15        0     15
A Rather Festive Tree                   4,455c    1  100        0    100
Fall 2013 Acorns Crate                    310c    2   10        0     10
Fall 2013 Gourd Crate                     310c    4   10        0     10
Point and Shoot                         6,185c    1   25        0     25
Strange Part: Gib Kills                 5,460c    1    4        0      5
Strange Enforcer                        1,600c    1   17        1     15
Strange Fists of Steel                    375c    1   16        0     15
Strange Killing Gloves of Boxing        1,780c    1   19        0     20
Strange Medi Gun                        2,700c    1   40        0     40
Strange Neon Annihilator                  370c    1   26        3     25
Strange Rust Botkiller Scattergun Mk.I  7,735c    1    1        0      5
Haunted B-ankh!                         3,420c    1    3        0      3

#### But it would be nice to also have the item's status.  So let's create a dataframe for it and then use Pandas' concat() method to merge this dataframe to the table_html dataframe.

In [127]:
df_status = pd.DataFrame({"Status":status}, index=item_names)

In [128]:
df_status

                                             Status
Genuine Companion Cube Pin              overstocked
A Rather Festive Tree                   overstocked
Fall 2013 Acorns Crate                  overstocked
Fall 2013 Gourd Crate                   overstocked
Point and Shoot                         overstocked
Strange Part: Gib Kills                 overstocked
Strange Enforcer                        overstocked
Strange Fists of Steel                  overstocked
Strange Killing Gloves of Boxing             normal
Strange Medi Gun                        overstocked
Strange Neon Annihilator                     normal
Strange Rust Botkiller Scattergun Mk.I       normal
Haunted B-ankh!                         overstocked

#### Now, we're ready to concatenate the 2 dataframes together along the columns axis (axis=1):

In [129]:
table_html = pd.concat([table_html, df_status], axis=1)

In [130]:
table_html

                                         Price  You   WH  WH_Diff  Limit       Status
Name
Genuine Companion Cube Pin              2,925c    1   15        0     15  overstocked
A Rather Festive Tree                   4,455c    1  100        0    100  overstocked
Fall 2013 Acorns Crate                    310c    2   10        0     10  overstocked
Fall 2013 Gourd Crate                     310c    4   10        0     10  overstocked
Point and Shoot                         6,185c    1   25        0     25  overstocked
Strange Part: Gib Kills                 5,460c    1    4        0      5  overstocked
Strange Enforcer                        1,600c    1   17        1     15  overstocked
Strange Fists of Steel                    375c    1   16        0     15  overstocked
Strange Killing Gloves of Boxing        1,780c    1   19        0     20       normal
Strange Medi Gun                        2,700c    1   40        0     40  overstocked
Strange Neon Annihilator                  370c    1   26        3     25       normal
Strange Rust Botkiller Scattergun Mk.I  7,735c    1    1        0      5       normal
Haunted B-ankh!                         3,420c    1    3        0      3  overstocked

#### Looks good, but those prices have 'c' and ',' in them.  We're going to use Pandas apply() method where it allows us to use/apply a custom function and create a new column from it based on another column within the dataframe.  This is similar to using a function in an Excel cell.

#### Let's define a custom function to format the prices:

In [131]:
def formatPrice(series):
    value = series['Price']
    return int(value.replace('c','').replace(',',''))

#### Now, we can use Panda's apply() method to create a new column called '*Price' (axis=1 means we're going to make a new column, not new row index (axis=0)):

In [132]:
table_html['*Price'] = table_html.apply(formatPrice, axis=1)

In [133]:
table_html

,Price,You,WH,WH_Diff,Limit,Status,*Price
Name,,,,,,,
Genuine Companion Cube Pin,"2,925c",1,15,0,15,overstocked,2925
A Rather Festive Tree,"4,455c",1,100,0,100,overstocked,4455
Fall 2013 Acorns Crate,310c,2,10,0,10,overstocked,310
Fall 2013 Gourd Crate,310c,4,10,0,10,overstocked,310
Point and Shoot,"6,185c",1,25,0,25,overstocked,6185
Strange Part: Gib Kills,"5,460c",1,4,0,5,overstocked,5460
Strange Enforcer,"1,600c",1,17,1,15,overstocked,1600
Strange Fists of Steel,375c,1,16,0,15,overstocked,375
Strange Killing Gloves of Boxing,"1,780c",1,19,0,20,normal,1780
Strange Medi Gun,"2,700c",1,40,0,40,overstocked,2700
Strange Neon Annihilator,370c,1,26,3,25,normal,370
Strange Rust Botkiller Scattergun Mk.I,"7,735c",1,1,0,5,normal,7735
Haunted B-ankh!,"3,420c",1,3,0,3,overstocked,3420

#### Looks good, but we still have that dumb 'Price' column, so let's drop it:

In [134]:
table_html = table_html.drop('Price', axis=1)

In [135]:
table_html

                                        You   WH  WH_Diff  Limit       Status  *Price
Name
Genuine Companion Cube Pin                1   15        0     15  overstocked    2925
A Rather Festive Tree                     1  100        0    100  overstocked    4455
Fall 2013 Acorns Crate                    2   10        0     10  overstocked     310
Fall 2013 Gourd Crate                     4   10        0     10  overstocked     310
Point and Shoot                           1   25        0     25  overstocked    6185
Strange Part: Gib Kills                   1    4        0      5  overstocked    5460
Strange Enforcer                          1   17        1     15  overstocked    1600
Strange Fists of Steel                    1   16        0     15  overstocked     375
Strange Killing Gloves of Boxing          1   19        0     20       normal    1780
Strange Medi Gun                          1   40        0     40  overstocked    2700
Strange Neon Annihilator                  1   26        3     25       normal     370
Strange Rust Botkiller Scattergun Mk.I    1    1        0      5       normal    7735
Haunted B-ankh!                           1    3        0      3  overstocked    3420

#### Sweet, it is gone, but the order of our table columns are not what I want them to be so I'm going to re-arrange them:

In [136]:
table_html = table_html[['*Price', 'You', 'WH', 'WH_Diff', 'Limit', 'Status']]
table_html

                                        *Price  You   WH  WH_Diff  Limit       Status
Name
Genuine Companion Cube Pin                2925    1   15        0     15  overstocked
A Rather Festive Tree                     4455    1  100        0    100  overstocked
Fall 2013 Acorns Crate                     310    2   10        0     10  overstocked
Fall 2013 Gourd Crate                      310    4   10        0     10  overstocked
Point and Shoot                           6185    1   25        0     25  overstocked
Strange Part: Gib Kills                   5460    1    4        0      5  overstocked
Strange Enforcer                          1600    1   17        1     15  overstocked
Strange Fists of Steel                     375    1   16        0     15  overstocked
Strange Killing Gloves of Boxing          1780    1   19        0     20       normal
Strange Medi Gun                          2700    1   40        0     40  overstocked
Strange Neon Annihilator                   370    1   26        3     25       normal
Strange Rust Botkiller Scattergun Mk.I    7735    1    1        0      5       normal
Haunted B-ankh!                           3420    1    3        0      3  overstocked

In [137]:
print("The sum of all the items' prices is: ", table_html['*Price'].sum())

The sum of all the items' prices is:  37625

#### We're done!