# Basic pandas2ri example

In [1]:
import numpy as np
import pandas as pd
from rpy2.robjects.packages import importr
from rpy2.robjects import r
from rpy2.robjects import pandas2ri
import rpy2.ipython.html
rpy2.ipython.html.init_printing()
pandas2ri.activate()

In [2]:
r("""
x=c()
x[1] <- 22
x[2] <- 44
"""
)

array([ 44.])

In [3]:
r('x')

array([ 22.,  44.])

In [4]:
r['x']

<FloatVector - Python:0x7f011b1a6608 / R:0x1df81b0>
[22.000000, 44.000000]

### Load iris sample data set

In [5]:
r.data('iris')

<StrVector - Python:0x7f011ae86988 / R:0x293dcc8>
['iris']

### Convert R data frame as pandas data frame

In [6]:
pydf = pandas2ri.ri2py(r['iris'])

In [7]:
pydf.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

### Convert pandas data frame to R data frame

In [8]:
rdf = pandas2ri.py2ri(pydf)

In [9]:
type(rdf)

rpy2.robjects.vectors.DataFrame