In [37]:
df <- read.csv("/home/pybokeh/Dropbox/data_sets/sales_data.csv", header=TRUE, stringsAsFactors=FALSE)
head(df)

        date qty
1 2013-01-01   4
2 2013-01-02   3
3 2013-01-03   2
4 2013-01-05   5
5 2013-01-07   3
6 2013-01-08   4

In [38]:
str(df)

'data.frame':	6 obs. of  2 variables:
 $ date: chr  "2013-01-01" "2013-01-02" "2013-01-03" "2013-01-05" ...
 $ qty : int  4 3 2 5 3 4

In [39]:
df$date <- as.POSIXct(df$date, format = "%Y-%m-%d")
head(df)

        date qty
1 2013-01-01   4
2 2013-01-02   3
3 2013-01-03   2
4 2013-01-05   5
5 2013-01-07   3
6 2013-01-08   4

In [40]:
str(df)

'data.frame':	6 obs. of  2 variables:
 $ date: POSIXct, format: "2013-01-01" "2013-01-02" ...
 $ qty : int  4 3 2 5 3 4

**Create new dataframe with all dates**

In [41]:
newdf <- data.frame(date = seq(min(df$date), max(df$date), by = "day"))
newdf

        date
1 2013-01-01
2 2013-01-02
3 2013-01-03
4 2013-01-04
5 2013-01-05
6 2013-01-06
7 2013-01-07
8 2013-01-08

**Merge newdf with df, then convert NA values to zeros**

In [42]:
df_final <- merge(newdf, df, by = "date", all.x = TRUE)
df_final[is.na(df_final)] <- 0
df_final

        date qty
1 2013-01-01   4
2 2013-01-02   3
3 2013-01-03   2
4 2013-01-04   0
5 2013-01-05   5
6 2013-01-06   0
7 2013-01-07   3
8 2013-01-08   4