In [10]:
library(zoo)
df = read.csv("/home/pybokeh/Downloads/ch10/SwordDemand2.csv",header=TRUE,stringsAsFactors=FALSE)
head(df)

     Date Qty
1 2013-01 165
2 2013-02 171
3 2013-03 147
4 2013-04 143
5 2013-05 164
6 2013-06 160

In [11]:
df$Date <- as.Date(as.yearmon(df$Date))
head(df)

        Date Qty
1 2013-01-01 165
2 2013-02-01 171
3 2013-03-01 147
4 2013-04-01 143
5 2013-05-01 164
6 2013-06-01 160